body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 }

* {
  box-sizing: border-box;	
}

.info {
	display: inline-block;
	width: 50%;
	height: 400px;
	padding: 40px;
	vertical-align: top;
}

.frame {
	background-color: white;
	margin: 40px;
}

.corners {
	border-radius: 10px;
	background-color: #dee2e0;
	box-shadow: 5px 5px 5px #C0C0C0;
	margin: 40px;
}

img {
	float: right;
	margin-right: 40px;
	border-radius: 100%
}
a img {
	height: 50px;
	float: left;
	margin: 10px;
}

a {
	font-weight: bold
}

span {
	font-weight: normal;
}



a {
	color: #343949;
}

img[name='job'] {
	height: 130px;
	border-radius: 100%;
}


.job-info {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
